<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>New Term</title>
</head>
<body>
  <a href="/">Term Home</a>
    <a href="/terms">All Terms</a>
  
  <form  action="/terms" method="POST">
    <label for="name">
      Name: <input type="text" name="name" id="name" />
    </label>
    <label for="type1">
      definition: <input type="text" name="definition" id="definition" />
      </form>
      <button type="submit"> Create new term</button>
</body>
</html>